/*** Blue dot map position pointer -......................*/

.blue-dot-position {
  background-color: #4285F4;
  border: 2px solid white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

/* loader css code */ 

  .modalBackground {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

.ldsdualring,
.ldsdualring:after {
  box-sizing: border-box;
}
.ldsdualring {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 0.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
